.input {
    border: 1px solid #000;
    border-radius: 30px;
    background-color: transparent;
    outline: 0;
    padding: 18px 36px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
}

.textarea {
    min-height: 176px;
}