.title,
.sub-title,
.big-text {
    font-weight: 600;
}

.title {
    font-size: 60px;
    line-height: 80px;
}

.sub-title {
    font-size: 34px;
    line-height: 60px;
}

.big-text {
    font-size: 32px;
    line-height: 40px;
}

.text {
    font-family: 'Open Sans';
    font-size: 24px;
}